---
    layout: plain
    sitemap: false
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>TEKKEN 254 | Kenyan Tekken Community</title>
    <link rel="icon" type="image/png" href="/assets/img/logos/icon.png" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This website is currently under construction.">

    <!-- SOCIAL / OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://tekken254.co.ke/">
    <meta property="og:title" content='TEKKEN 254 | Kenyan Tekken Community'>
    <meta property="og:description" content="This website is currently under construction.">
    <meta property="og:image" content="http://tekken254.co.ke/assets/img/backgrounds/meta-banner.png">


    <!-- SOCIAL / Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@itstekken254">
    <meta name="twitter:url" content="http://tekken254.co.ke/">
    <meta name="twitter:title" content='TEKKEN 254 | Kenyan Tekken Community'>
    <meta name="twitter:description" content="This website is currently under construction.">
    <meta name="twitter:image" content="http://tekken254.co.ke/assets/img/backgrounds/meta-banner.png">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/uc.css" />
</head>

<body>
    <div class="background">
        <header>
            <div class="header-img">
                <img src="/assets/img/logos/t254-logo-white.svg" alt="TEKKEN 254 logo" />
                <img id="sfgc" src=" /assets/img/logos/sfgc-logo-outline.svg" alt="Savanna FGC logo" />
            </div>
        </header>
        <main>
            <h1 class="bold uppercase">We're back in the lab!</h1>
            <p class="font-head notice">The website is currently undergoing a major rebuild for an improved user experience.</p>
            <p class="notice">Stay tuned to our social media to find out when it is relaunched.</p>
            <p class="notice"><span class="bold">Savanna Fight Night</span>: <a href="/assets/docs/fight-night/sfn-10-rankings.pdf" target="_blank">Rankings</a> &mdash; <a href="javascript:void( window.open( 'https://form.jotform.com/201524844468560', 'blank', 'scrollbars=yes, toolbar=no, width=700, height=500' ) ) ">Sign up</a></p>
            <div class="char-img">
                {% include fallback_picture.html file="/assets/img/characters/tk7/katarina" primary_ext="webp" fallback_ext="png" alt="Katarina Alves, as she appears in Tekken 7" %}
                {% include fallback_picture.html file="/assets/img/characters/tk7/miguel" primary_ext="webp" fallback_ext="png" alt="Miguel Caballero Rojo, as he appears in Tekken 7" %}
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="socials">
                    <a href="https://facebook.com/itstekken254" target="_blank"><img src="/assets/img/socials/facebook-white.svg" /></a>
                    <a href="https://twitter.com/itstekken254" target="_blank"><img src="/assets/img/socials/twitter-white.svg" /></a>
                    <a href="https://instagram.com/tekken254" target="_blank"><img src="/assets/img/socials/instagram-white.svg" /></a>
                    <a href="https://youtube.com/tekken254-main" target="_blank"><img src="/assets/img/socials/youtube-white.svg" /></a>
                    <a href="https://twitch.tv/tekken254" target="_blank"><img src="/assets/img/socials/twitch-white.svg" /></a>
                </div>
                <p>TEKKEN 254 is not affiliated with Bandai Namco Entertainment, Inc. Tekken and its related content are copyright/registered
                    trademarks of Bandai Namco Entertainment, Inc.</p>
            </div>
        </footer>
    </div>
</body>

</html>