---
    alias: news
    title: Home
    description: Read up on all the latest news from within the Kenyan Tekken scene.
---
<h1 class="page-title uppercase">News</h1>
<ul class="guides-tabs nav nav-pills" id="news-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/news">All posts</a>
    </li>
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
    <li class="nav-item">
        <a class="nav-link capitalize" href="/news/categories/{{ category | first | slugify }}">{{ category | first }}</a>
        </li>
    {% endfor %}
</ul>
{% for post in paginator.posts %}
    {% include list-story.html %}
{% endfor %}
{% include news-paginator.html %}