{% assign tekken_seasons = 4 %}
{% assign mk_seasons = 1%}
{% if page.alias contains "tekken" %}
    {% assign total_seasons = tekken_seasons %}
{% elsif page.alias contains "mk" %}
    {% assign total_seasons = mk_seasons %}
{% endif %}
{% assign this_season = page.season %}
{% assign prev_season = this_season | minus: 1 %}
{% assign next_season = this_season | plus: 1 %}
{% if total_seasons == 1 %}{% else %}
<ul class="pagination d-flex justify-content-center">
    <li class="page-item{% if this_season == 1 %} disabled{% endif %}">
        <a class="page-link" href="./{% if prev_season == 1 %}index{% else %}season-{{ prev_season }}{% endif %}.html" tabindex="-1"{% if this_season == 1 %} aria-disabled="true"{% endif %}>&laquo;</a>
    </li>
    {% for season in (1..total_seasons) %}
    {% if season == this_season %}
    <li class="page-item active" aria-current="page">
        <a class="page-link">{{ season }} <span class="sr-only">(current)</span></a>
    </li>
    {% elsif season == 1 %}
    <li class="page-item">
        <a class="page-link" href="./index.html">{{ season }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="./season-{{ season }}.html">{{ season }}</a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="page-item{% if this_season == total_seasons %} disabled{% endif %}">
        <a class="page-link" href="./season-{{ next_season }}.html"{% if this_season == total_seasons %} aria-disabled="true"{% endif %}>&raquo;</a>
    </li>
</ul>
{% endif %}
<p class="font-header top-link mt-0">
    <a href="/circuit/archive">Back to Archive home</a>
</p>