<div class="archive-card media">{% if include.noImg == true %}{% else %}
    <div class="archive-card-img" style="background-image: url('/{% if include.src %}{{ include.src }}{% else %}assets/img/archive/tekken/sn-1/{{ include.date | date: "%Y-%m-%d" }}/cover.{% if include.ext %}{{ include.ext }}{% else %}jpg{% endif %}');{% if include.position %} background-position: {{ include.position }}{% else %} background-position: center{% endif %};{% if include.imgSize %} background-size {{ include.imgSize }}{% else %} background-size: cover{% endif %};{% endif %}" aria-label="The top three players from {{ include.title | strip_html }}">&nbsp;</div>{% endif %}
    <div class="media-body">
        <div class="news-card-info">
            <p class="site-red uppercase mb-1">{{ include.title }}</p>
            <p class="site-green uppercase m-0">Date</p>
            <p class="mt-1">{{ include.date | date_to_long_string }}</p>

            <p class="site-green uppercase mb-0">Venue</p>
            <p class="mt-1">{{ include.venue }}</p>
            {% if include.bracket %}
            <p class="site-green uppercase mb-0">Results</p>
            <p class="mt-1"><a href="{{ include.bracket }}" target="_blank">Full bracket</a></p>{% endif %}
        </div>
        <ul class="archive-links card-text">
            <p class="site-green uppercase mb-0">Match replays</p>{% if include.pool_a_list %}
            <li><a href="https://www.youtube.com/playlist?list={{ include.pool_a_list }}" target="_blank">Pool A</a></li>{% endif %}{% if include.pool_b_list %}
            <li><a href="https://www.youtube.com/playlist?list={{ include.pool_b_list }}" target="_blank">Pool B</a></li>{% endif %}{% if include.pool_c_list %}
            <li><a href="https://www.youtube.com/playlist?list={{ include.pool_c_list }}" target="_blank">Pool C</a></li>{% endif %}{% if include.pool_d_list %}
            <li><a href="https://www.youtube.com/playlist?list={{ include.pool_d_list }}" target="_blank">Pool D</a></li>{% endif %}{% if include.top_8_list %}
            <li><a href="https://www.youtube.com/playlist?list={{ include.top_8_list }}" target="_blank">Top 8</a></li>{% endif %}
        </ul>
    </div>
</div>