<div class="archive-card media">{% if include.noImg == true %}{% else %}
    <div class="archive-card-img" style="background-image: url('/{% if include.src %}{{ include.src }}{% else %}assets/img/archive/tekken/sn-{{ page.season }}/{{ include.date | date: "%Y-%m-%d" }}/cover.{% if include.ext %}{{ include.ext }}{% else %}jpg{% endif %}');{% if include.position %} background-position: {{ include.position }}{% else %} background-position: center{% endif %};{% if include.imgSize %} background-size {{ include.imgSize }}{% else %} background-size: cover{% endif %};{% endif %}" aria-label="The top three players from {{ include.title | strip_html }}">&nbsp;</div>{% endif %}
    <div class="media-body">
        <div class="news-card-info">
            <h2 class="font-body site-red uppercase mb-1">{{ include.title }}</h2>
            <h3 class="font-body site-green uppercase m-0">Date</h3>
            <p class="mt-1">{{ include.date | date_to_long_string }}</p>

            <h3 class="font-body site-green uppercase mb-0">Venue</h3>
            <p class="mt-1">{{ include.venue }}</p>
            {% if include.premier_bracket or include.challenger_bracket or include.rankings or include.playoffs_bracket or include.finals_bracket %}
            <ul class="archive-links card-text">
                <h3 class="font-body site-green uppercase mb-0">Results</h3>
                {% if include.premier_bracket or include.challenger_bracket or include.rankings %}
                    {% if include.premier_bracket %}
                    <li><a href="{{ include.premier_bracket }}" target="_blank">Premier</a></li>{% endif %}{% if include.challenger_bracket %}
                    <li><a href="{{ include.challenger_bracket }}" target="_blank">Challenger</a></li>{% endif %}{% if include.rankings %}
                    <li><a href="{{ include.rankings }}" target="_blank">Rankings</a></li>{% endif %}
                {% elsif include.playoffs_bracket or include.finals_bracket %}
                    {% if include.playoffs_bracket %}
                    <li><a href="{{ include.playoffs_bracket }}" target="_blank">Premier Division Playoffs</a></li>{% endif %}{% if include.finals_bracket %}
                    <li><a href="{{ include.finals_bracket }}" target="_blank">Finals</a></li>{% endif %}
                {% endif %}
            </ul>{% endif %}
        </div>
        {% if include.pool_a_list or include.pool_b_list or include.pool_c_list or include.pool_d_list or include.playoffs_list or include.top_8_list or include.challenger_list or include.prem_playoffs_list or include.finals_list %}
        <div class="links-container">
            <h3 class="font-body site-green uppercase{% if include.pool_a_list or include.pool_b_list or include.pool_c_list or include.pool_d_list or include.playoffs_list or include.top_8_list or include.challenger_list %} mb-2{% else %} mb-0{% endif %}">Match replays</h3>
            {% if include.pool_a_list or include.pool_b_list or include.pool_c_list or include.pool_d_list or include.playoffs_list or include.top_8_list or include.challenger_list %}
                {% if include.pool_a_list or include.pool_b_list or include.pool_c_list or include.pool_d_list or include.playoffs_list or include.top_8_list %}
                <ul class="archive-links card-text{% if include.challenger_list %} mb-2{% endif %}">
                    <h4 class="m-0">Premier</h4>{% if include.pool_a_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.pool_a_list }}" target="_blank">Pool A</a></li>{% endif %}{% if include.pool_b_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.pool_b_list }}" target="_blank">Pool B</a></li>{% endif %}{% if include.pool_c_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.pool_c_list }}" target="_blank">Pool C</a></li>{% endif %}{% if include.pool_d_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.pool_d_list }}" target="_blank">Pool D</a></li>{% endif %}{% if include.playoffs_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.playoffs_list }}" target="_blank">Playoffs</a></li>{% endif %}{% if include.top_8_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.top_8_list }}" target="_blank">Top 8</a></li>{% endif %}
                </ul>{% endif %}{% if include.challenger_list %}
                <ul class="archive-links card-text">
                    <h4 class="m-0">Challenger</h4>
                    <li><a href="https://www.youtube.com/playlist?list={{ include.challenger_list }}" target="_blank">Full bracket</a></li>
                </ul>{% endif %}
            {% elsif include.prem_playoffs_list or include.finals_list %}
                <ul class="archive-links card-text">{% if include.prem_playoffs_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.prem_playoffs_list }}" target="_blank">Premier Division Playoffs</a></li>{% endif %}{% if include.finals_list %}
                    <li><a href="https://www.youtube.com/playlist?list={{ include.finals_list }}" target="_blank">Finals</a></li>{% endif %}
                </ul>
            {% endif %}
        </div>{% endif %}
    </div>
</div>