<!DOCTYPE html>
<html lang="en-KE">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMGK68F');
    </script>
    <!-- End Google Tag Manager -->

    <title>{% include page-title.html %}</title>
    <link rel="icon" type="image/png" href="/assets/img/logos/icon.png" />
    {% feed_meta %}

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Get all the latest news and tournament information from the Kenyan Tekken community, as well as guides on how to play the game.{% endif %}">{% if page.alias == "search" or page.name == "404.html" %}
    <meta name="robots" content="noindex, nofollow" />{% endif %}

    <!-- SOCIAL / OpenGraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:title" content='{% include page-title.html %}'>{% if page.description %}
    <meta property="og:description" content="{{ page.description }}">{% endif %}
    <meta property="og:image" content="{{ site.url }}/{% if page.layout == "post" %}assets/img/news/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}/meta.{% if page.metaImageExt %}{{ page.metaImageExt }}{% else %}jpg{% endif %}{% elsif page.metaImage %}{{ page.metaImage }}{% else %}assets/img/backgrounds/meta-banner.png{% endif %}">
    {% if page.layout == "post" %}
    <!-- Article tags -->
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
        {% if page.author %}
            {% assign i = 0 %}
            {% assign j = 1 %}
            {% assign this_authors = page.author %}
            {% assign author_count = this_authors | size %}
            {% if j == author_count %}
                {% for this_author in this_authors %}
                    {% assign authors = site.authors | where: 'alias', this_authors[i] %}
                    {% for author in authors %}
                        <meta property="article:author" content="{{ author.url | absolute_url }}">
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for this_author in this_authors %}
                    {% assign authors = site.authors | where: 'alias', this_authors[i] %}
                    {% for author in authors %}
                        <meta property="article:author" content="{{ author.url | absolute_url }}">
                        {% assign i = i | plus: 1 %}
                        {% assign j = j | plus: 1 %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}

    <!-- SOCIAL / Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@itstekken254">
    <meta name="twitter:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:title" content='{% include page-title.html %}'>{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">{% endif %}
    <meta name="twitter:image" content="{{ site.url }}/{% if page.layout == "post" %}assets/img/news/{{ page.date | date: "%Y-%m-%d" }}-{{ page.slug }}/meta.{% if page.metaImageExt %}{{ page.metaImageExt }}{% else %}jpg{% endif %}{% elsif page.metaImage %}{{ page.metaImage }}{% else %}assets/img/backgrounds/meta-banner.png{% endif %}">

    <!-- STYLESHEETS / Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">

    <!-- STYLESHEETS / Local -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />{% if page.alias == "about" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/about.css" />{% elsif page.alias == "contact" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/contact.css" />{% elsif page.alias == "sitemap" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/sitemap.css" />{% elsif page.alias == "character" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/characters.css" />{% elsif page.alias contains "-profile" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/profiles.css" />{% elsif page.alias contains "circuit-" or page.alias contains "sfn-" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/circuit.css" />{% if page.alias == "circuit-archive" or page.alias == "circuit-changelog" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/guides.css" />{% endif %}{% elsif page.alias contains "guides-" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/guides.css" />{% elsif page.layout == "post" %}
    <link rel="stylesheet" type="text/css" href="/assets/css/post.css" />{% endif %}

    <!-- STYLESHEETS / Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">{% if page.alias contains "circuit-changelog" %}

    <!-- Styling for Changelog images -->
    <style>
        @media only screen and (max-width: 991px) {
            .circuit-logo {
                display: none;
            }
        }
        
        .circuit-logo {
            float: right;
            margin: 15px 30px;
        }
    </style>{% endif %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMGK68F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header role="banner" id="top">
        <div class="row top-row mx-auto align-items-center">
            <div class="col-auto p-0 socials d-none d-lg-block">
                <div class="follow-us uppercase">Follow us</div>
                <a href="https://facebook.com/itstekken254" target="_blank"><img src="/assets/img/socials/facebook.svg" alt="TEKKEN 254 Facebook page" /></a>
                <a href="https://twitter.com/itstekken254" target="_blank"><img src="/assets/img/socials/twitter.svg" alt="TEKKEN 254 Twitter page" /></a>
                <a href="https://instagram.com/tekken254" target="_blank"><img src="/assets/img/socials/instagram.svg" alt="TEKKEN 254 Instagram page" /></a>
                <a href="https://youtube.com/tekken254-main" target="_blank"><img src="/assets/img/socials/youtube.svg" alt="TEKKEN 254 YouTube channel" /></a>
                <a href="https://twitch.tv/tekken254" target="_blank"><img src="/assets/img/socials/twitch.svg" alt="TEKKEN 254 Twitch channel" /></a>
            </div>
            <div class="col-auto p-0 header-img">
                <a href="/"><img src="/assets/img/logos/t254-logo.svg" alt="TEKKEN 254 logo" /></a>
                <img id="sfgc" src="/assets/img/logos/sfgc-logo.svg" alt="Savanna FGC logo" />
            </div>
            <div class="col-3 p-0 search-bar d-none d-lg-block">
                {% include top-search.html %}
            </div>
        </div>
        <nav class="navbar navbar-expand-lg p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="top-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><img src="/assets/img/icons/menu.svg" alt="" /></span>
            </button>
            <div class="collapse navbar-collapse" id="top-menu">
                <ul class="navbar-nav justify-content-around mx-auto">
                    <li class="nav-item">
                        <a class="nav-link p-0{% if page.alias == "index" %} active{% endif %}" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0{% if page.alias == "news" %} active{% endif %}" href="/news/">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0{% if page.alias == "galleries" %} active{% endif %}" href="/galleries/">Galleries</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link p-0 dropdown-toggle" id="dropdown-circuit" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circuit</a>
                        <div class="dropdown-menu dm-override" aria-labelledby="dropdown-circuit">
                            <a class="dropdown-item{% if page.alias == "circuit-index" %} active{% endif %}" href="/circuit/">Overview</a>
                            <a class="dropdown-item{% if page.alias == "circuit-register" %} active{% endif %}" href="/circuit/register.html">Registration</a>
                            <a class="dropdown-item{% if page.alias == "circuit-payment" %} active{% endif %}" href="/circuit/payment.html">Payment</a>
                            <a class="dropdown-item{% if page.alias == "circuit-rankings" %} active{% endif %}" href="/circuit/rankings.html">Rankings</a>
                            <a class="dropdown-item{% if page.alias == "circuit-archive" %} active{% endif %}" href="/circuit/archive/">Archive</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link p-0 dropdown-toggle" id="dropdown-sfn" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fight Night</a>
                        <div class="dropdown-menu dm-override" aria-lablledby="dropdown-sfn">
                            <a class="dropdown-item{% if page.alias == "sfn-index" %} active{% endif %}" href="/fight-night/">Overview</a>
                            <a class="dropdown-item{% if page.alias == "sfn-register" %} active{% endif %}" href="/fight-night/register.html">Registration</a>
                            <a class="dropdown-item{% if page.alias == "sfn-rankings" %} active{% endif %}" href="/fight-night/rankings.html">Rankings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link p-0 dropdown-toggle" id="dropdown-guides" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Guides</a>
                        <div class="dropdown-menu dm-override" aria-labelledby="dropdown-guides">
                            <a class="dropdown-item{% if page.alias == "guides-index" %} active{% endif %}" href="/guides/">Introduction</a>
                            <a class="dropdown-item{% if page.alias == "guides-movement" %} active{% endif %}" href="/guides/movement.html">Movement</a>
                            <a class="dropdown-item{% if page.alias == "guides-att-def" %} active{% endif %}" href="/guides/att-def.html">Attack & Defence</a>
                            <a class="dropdown-item{% if page.alias == "guides-characters" %} active{% endif %}" href="/guides/characters.html">Characters</a>
                            <a class="dropdown-item{% if page.alias == "guides-frame-data" %} active{% endif %}" href="/guides/frame-data.html">Frame Data</a>
                            <a class="dropdown-item{% if page.alias == "guides-notations" %} active{% endif %}" href="/guides/notations.html">Notations</a>
                            <a class="dropdown-item{% if page.alias == "guides-glossary" %} active{% endif %}" href="/guides/glossary.html">Glossary</a>
                        </div>
                    </li>
                    <div class="mobile-search">
                        {% include top-search.html mobile=true %}
                    </div>
                    <div class="nav-socials d-lg-none">
                        <a href="https://facebook.com/itstekken254" target="_blank"><img src="/assets/img/socials/facebook.svg" alt="TEKKEN 254 Facebook page" /></a>
                        <a href="https://twitter.com/itstekken254" target="_blank"><img src="/assets/img/socials/twitter.svg" alt="TEKKEN 254 Twitter page" /></a>
                        <a href="https://instagram.com/tekken254" target="_blank"><img src="/assets/img/socials/instagram.svg" alt="TEKKEN 254 Instagram page" /></a>
                        <a href="https://youtube.com/tekken254-main" target="_blank"><img src="/assets/img/socials/youtube.svg" alt="TEKKEN 254 YouTube channel" /></a>
                        <a href="https://twitch.tv/tekken254" target="_blank"><img src="/assets/img/socials/twitch.svg" alt="TEKKEN 254 Twitch channel" /></a>
                    </div>
                </ul>
            </div>
        </nav>
        <noscript>
            <div class="js-notice">
                For full functionality of this website, it is necessary to enable JavaScript. For instructions on how to enable JavaScript in your web browser, <a class="medium" href="https://www.enable-javascript.com/" target="_blank">click here</a>.
            </div>
        </noscript>
    </header>
    <main{% if page.alias == "index" %} class="home"{% endif %}>