<div class="news-card media">
    <a class="blank-link" href="{{ post.url }}">
        <div class="card-img-container">
            <div class="news-card-img" style="background-image: url('{% include post-meta-image-url.html %}');{% if post.metaImagePosition %} background-position: {{ post.metaImagePosition }};{% else %} background-position: center;{% endif %}">&nbsp;</div>
        </div>
        <div class="media-body">
            <div class="news-card-info">
                <p class="story-title font-header fs-h2 mt-0">{{ post.title }}</p>
                <p>{{ post.description }}</p>
            </div>
            <ul class="featured-cat-date card-text">
                <li class="text-muted date">{{ post.date | date_to_long_string }}</li>
                <li class="text-muted category capitalize">{{ post.categories | first }}</li>
            </ul>
        </div>
    </a>
</div>