<section>
    <h2 class="page-title uppercase">Player Profile</h2>
    <div class="player-bio{% if page.alias contains "circuit-" %} circuit-bio{% endif %}">
        <div class="player-profile">
            <figure class="bio-img">
                <img class="player-img" id="player-img" src="/assets/img/players/placeholder.jpg" alt="" />
                <figcaption><span aria-label="Savanna FGC player ID">#</span><span id="sfgc-id">0000000</span></figcaption>
            </figure>
            <div class="player-socials">
                <table>
                    <tr>
                        <td id="is-facebook">
                            <a id="player-facebook" href="" target="_blank"><img src="/assets/img/socials/facebook-white.svg" alt="Player Facebook page" /></a>
                        </td>
                        <td id="is-twitter">
                            <a id="player-twitter" href="" target="_blank"><img src="/assets/img/socials/twitter-white.svg" alt="Player Twitter page" /></a>
                        </td>
                        <td id="is-instagram">
                            <a id="player-instagram" href="" target="_blank"><img src="/assets/img/socials/instagram-white.svg" alt="Player Instagram page" /></a>
                        </td>
                        <td id="is-youtube">
                            <a id="player-youtube" href="" target="_blank"><img src="/assets/img/socials/youtube-white.svg" alt="Player YouTube channel" /></a>
                        </td>
                        <td id="is-twitch">
                            <a id="player-twitch" href="" target="_blank"><img src="/assets/img/socials/twitch-white.svg" alt="Player Twitch channel" /></a>
                        </td>
                    </tr>
                </table>
            </div>
            <h3 class="player-pseudo uppercase"><span id="team-name" data-toggle="tooltip"><span id="team-shorthand"></span></span><span id="pseudonym">Placeholder</span></h3>
            <p class="fs-h4 font-header player-name uppercase"><span id="player-name">Full name</span></p>
            <p class="bio-info">Born: <span id="birth-date">Undefined</span></p>
            <p class="bio-info">Main platform: <span id="platform">Undefined</span></p>
            <p class="bio-info">Online ID: <span id="online-id">Undefined</span></p>
            <p class="fs-h4 font-header bio-header uppercase">Main character</p>
            <p id="main-char">Undefined</p>
            <p class="fs-h4 font-header bio-header uppercase">Other characters used</p>
            <p id="other-chars">Add <span data-toggle="tooltip" data-html="true" title="e.g. <code>?id=4092983</code>"><code>?id=[number]</code></span> to the end of the address bar to select a player.</p>
        </div>
        <div id="bio-main" aria-label=""></div>