{% assign top = 0 %}
{% for post in site.posts %}
{% if post.top == true %}
{% assign top = top | plus: 1 %}
<a class="jumbotron-anchor blank-link" href="{{ post.url }}">
    <div class="jumbotron-container">
        <div class="jumbotron mx-auto my-0">
            <div class="jumbotron-img" style="background-image: url('/{% if post.metaImage %}{{ post.metaImage }}{% else %}assets/img/news/{{ post.date | date: "%Y-%m-%d" }}-{{ post.slug }}/meta.{% if post.metaImageExt %}{{ post.metaImageExt }}{% else %}jpg{% endif %}');{% if post.metaImagePosition %} background-position: {{ post.metaImagePosition }};{% else %} background-position: center;{% endif %}{% endif %}"></div>
            <div class="container">
                <h2 class="font-body medium my-2">{{ post.title }}</h2>
                <p class="lead my-2">{{ post.description }}</p>
                    <ul class="featured-cat-date light">
                        <li class="date">{{ post.date | date_to_long_string }}</li>
                        <li class="category">{{ post.categories | first}}</li>
                    </ul>
            </div>
        </div>
    </div>
</a>
{% endif %}
{% if top == 1 %}
{% break %}
{% endif %}
{% endfor %}