@media only screen and (orientation: portrait) {
    body {
        background-image: url('/assets/img/backgrounds/bg-portrait.png');
        background-color: rgb(17, 17, 17);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-resolution: 72dpi) {
    body {
        background-image: url('/assets/img/backgrounds/bg-low-res.png');
        background-color: rgb(17, 17, 17);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-resolution: 72dpi) and (orientation: portrait) {
    body {
        background-image: url('/assets/img/backgrounds/bg-portrait-low-res.png');
        background-color: rgb(17, 17, 17);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-row,
    nav ul,
    .footer {
        width: 78%;
    }
    main {
        width: 70%;
    }
    .featured-story-img {
        height: 150px;
    }
    .card-container .card-body {
        height: auto;
    }
    .video-showcase {
        width: 480px;
        height: 270px;
    }
    .news-card a,
    .news-card .card-img-container {
        height: 350px;
    }
}

@media only screen and (max-width: 991px) {
    /* General elements */
    /* h1 {
        font-size: 2.5rem !important;
    }
    h2 {
        font-size: 1.875rem !important;
    }
    h3,
    .featured-stories .card-body h5 {
        font-size: 1.40625rem !important;
    }
    h4,
    p,
    ul,
    ol,
    table {
        font-size: 1.25rem !important;
    }
    h5,
    figure figcaption {
        font-size: 1.09375rem !important;
    }
    h6 {
        font-size: 0.859375rem !important;
    } */
    /*
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: calc(5/3 * 2.5vw) 0 !important;
    } */
    /* HEADER ELEMENTS */
    header {
        background-color: rgba(255, 255, 255, 0.75);
    }
    .top-row {
        max-width: 85%;
    }
    .header-img {
        height: 2.75rem;
        margin: auto;
    }
    .socials,
    .search-bar,
    .footer>p {
        display: none;
    }
    .mobile-search {
        display: block;
        width: 50%;
        margin-top: 20px;
    }
    .navbar-toggler {
        position: absolute;
        top: -45px;
        left: 7vw;
    }
    .navbar-toggler-icon img {
        width: 20px;
        height: auto;
    }
    nav ul {
        width: 80%;
        padding-bottom: 0;
    }
    nav .dm-override {
        position: initial;
        background-color: initial;
        border-left: initial;
        border-right: initial;
        border-bottom: initial;
        border-bottom-left-radius: initial;
        border-bottom-right-radius: initial;
        margin-top: initial;
        margin-left: initial;
        z-index: initial;
        text-align: center;
    }
    nav p {
        font-size: 0.859375rem !important;
        margin-top: 0 !important;
    }
    .guides-tabs {
        justify-content: flex-start;
    }
    /* MAIN ELEMENTS */
    main,
    footer {
        top: 134px;
    }
    main {
        width: 90%;
    }
    main.home {
        padding: 10px 0;
    }
    #featured-news h2 {
        margin-top: 0 !important;
    }
    .featured-story {
        align-items: center;
    }
    .card-container {
        margin-bottom: 25px;
    }
    .card-container .card-body {
        height: auto;
    }
    .news-card a {
        flex-direction: column;
    }
    .news-card .card-img-container {
        width: 100%;
        min-height: 40vw;
        height: auto;
    }
    .news-card-img {
        width: inherit;
        min-height: inherit;
        height: inherit;
    }
    .nb {
        margin: 0 auto;
    }
    .nb p {
        width: 85%;
    }
    .video-showcase {
        position: relative;
        width: 100%;
        height: auto;
    }
    .rankings-table caption {
        text-align: center;
    }
    .rankings-table thead tr th:nth-child(2),
    .rankings-table thead tr th:nth-child(5),
    .rankings-table thead tr th:nth-child(6),
    .rankings-table tbody tr td:nth-child(2),
    .rankings-table tbody tr td:nth-child(5),
    .rankings-table tbody tr td:nth-child(6) {
        display: none;
    }
    .rankings-table thead tr th:nth-child(3),
    .rankings-table tbody tr td:nth-child(3) {
        padding-left: 0.75rem;
    }
    /* FOOTER ELEMENTS */
    .footer {
        width: 100%;
    }
    .footer ul {
        margin: 10px auto;
    }
    .footer ul li {
        font-size: 1rem;
    }
    .footer-socials {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .footer-socials img {
        display: inline-block;
        margin: 0.7rem;
        height: 1.75rem;
        transition: opacity 0.25s ease-in-out;
    }
    /* Other */
    .instagram-media {
        min-width: 100% !important;
        max-width: 100% !important;
    }
}