---
    season: 4
    alias: circuit-archive-tekken-s4
    title: "Archive - Season Four"
    description: Discover results and match replays from Season Four of the TEKKEN 254 Circuit.
    metaImage: img/backgrounds/circuit-banner.png
---
<h2 class="mb-2">Season Four <span aria-label="with">&times;</span> DeCodEd Africa</h2>
<caption><a href="/assets/docs/circuit/tekken/sn-4/s4-ranking-q2.pdf" target="_blank">Click here</a> to see the current qualifying rankings for Season Four of the Savanna Circuit's Tekken division (formerly the TEKKEN 254 Circuit).</caption>

{% include archive-entry.html

    title = "Qualifier One"
    date = "2020-01-25"
    venue = "DeCodEd Africa<br />Galana Road, Kilimani, Nairobi"
    position = "top"

    bracket = "https://smash.gg/tournament/savanna-fgc-2020-qualifier-1-tekken-254-circuit-kenya-kombat/event/tekken-254-circuit-season-4/overview"

    pools_list = "PLywPefEOxPcP2K02jYnqGU_NUIcGn82VU"
    top_8_list = "PLywPefEOxPcN6eYjFzwhBEcYqHNMf2S2k"

%}

{% include archive-entry.html

    title = "Qualifier Two"
    date = "2020-02-29"
    venue = "DeCodEd Africa<br />Galana Road, Kilimani, Nairobi"
    position = "top"

    bracket = "https://smash.gg/tournament/savanna-fgc-2020-qualifier-2-tekken-254-circuit-rampage-series/event/tekken-254-circuit-season-4/overview"

    pools_list = "PLywPefEOxPcMqT445FSSR4HHk1MivzhTl"
    top_8_list = "PLywPefEOxPcMdJXj9RxXEMz4KbKURVQ_6"

%}

{% include archive-paginator.html %}