---
    season: 2
    alias: circuit-archive-tekken-s2
    title: "Archive - Season Two"
    description: Discover results and match replays from Season Two of the TEKKEN 254 Circuit.
    # metaImage: img/backgrounds/circuit-banner.png
---
<h2 class="mb-2">Season Two <span aria-label="with">&times;</span> Dell / Windows 10</h2>
<caption><a href="/assets/docs/circuit/tekken/sn-2/s2-ranking-q3.pdf" target="_blank">Click here</a> to see the final qualifying rankings for Season Two of the TEKKEN 254 Circuit.</caption>

{% include archive-entry-s2-s3.html

    title = "Qualifier One"
    date = "2018-07-07"
    venue = "BEST Western Plus Meridian Hotel<br />Murang'a Road, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q1-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q1-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-2/s2-ranking-q1.pdf"

    pool_a_list = "PLywPefEOxPcMD1x99cGMfklCMsctTxnfn"
    pool_b_list = "PLywPefEOxPcN-u5RhV3Duhq2d-iX5L6Wa"
    pool_c_list = "PLywPefEOxPcMWfrGNE9nkFSA9iH4J1Mas"
    pool_d_list = "PLywPefEOxPcM0A1qhti9OgBxUefnyuh49"
    top_8_list = "PLywPefEOxPcNE_7vXHymdyWt2oCYaXJ2l"

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Two"
    date = "2018-07-21"
    venue = "Kenya Cultural Centre<br />Harry Thuku Road, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q2-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q2-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-2/s2-ranking-q2.pdf"

    pool_a_list = "PLywPefEOxPcOl93Qx3G4qRrr44V-kV5jl"
    pool_b_list = "PLywPefEOxPcO78qFD4aMgOE8ey-T1aSjK"
    pool_c_list = "PLywPefEOxPcN99yb1PKgXafD4qAKTLU5l"
    pool_d_list = "PLywPefEOxPcPHB4Yw6smFWc00LRZ7zN0t"
    playoffs_list = "PLywPefEOxPcOcvO1GihACgC2vyMi4JYmZ"
    top_8_list = "PLywPefEOxPcNGQvlw0hGIFBxPewYxPpwg"

    challenger_list = "PLywPefEOxPcPGnVLPNuBcG3ddua_2-If3"

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Three"
    date = "2018-08-04"
    venue = "Kenya Cultural Centre<br />Harry Thuku Road, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q3-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-q3-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-2/s2-ranking-q3.pdf"

    pool_a_list = "PLywPefEOxPcNfoNi9eFme0O5D3UyP1_5E"
    pool_b_list = "PLywPefEOxPcOsWi5T-Nxuw6eUnOViaSOZ"
    pool_c_list = "PLywPefEOxPcMxBUMWpWEECwZQn4pJFdS-"
    pool_d_list = "PLywPefEOxPcP_2SZQ7TtKUk4iJzWwOnnB"
    playoffs_list = "PLywPefEOxPcNbwVHl1jI64847zuF2YSCp"
    top_8_list = "PLywPefEOxPcN11icN2TVmaSwTE4e-5d1E"

%}

{% include archive-entry-s2-s3.html

    title = "Finals"
    date = "2018-09-01"
    venue = "Kenya Cultural Centre<br />Harry Thuku Road, CBD, Nairobi"
    position = "top"

    playoffs_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-prem-playoffs.pdf"
    finals_bracket = "/assets/docs/circuit/tekken/sn-2/s2-results-finals.pdf"

    finals_list = "PLywPefEOxPcOoeCiAmuvAJht42zXlL89w"

%}

{% include archive-paginator.html %}