---
    season: 3
    alias: circuit-archive-tekken-s3
    title: "Archive - Season Three"
    description: Discover results and match replays from Season Three of the TEKKEN 254 Circuit.
    # metaImage: img/backgrounds/circuit-banner.png
---
<h2 class="mb-2">Season Three</h2>
<caption><a href="/assets/docs/circuit/tekken/sn-3/s3-ranking-q6.pdf" target="_blank">Click here</a> to see the final qualifying rankings for Season Three of the TEKKEN 254 Circuit.</caption>

{% include archive-entry-s2-s3.html

    title = "Qualifier One"
    date = "2019-01-26"
    venue = "Kenya Cultural Centre<br />Harry Thuku Road, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q1-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q1-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q1.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

    noImg = true

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Two <span aria-label='with'>&times;</span> Debonairs Pizza"
    date = "2019-02-23"
    venue = "Debonairs Pizza<br />Muindi Mbingu Street, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q2-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q2-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q2.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Three <span aria-label='with'>&times;</span> Debonairs Pizza"
    date = "2019-03-23"
    venue = "Debonairs Pizza<br />Muindi Mbingu Street, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q3-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q3-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q3.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Four <span aria-label='with'>&times;</span> Debonairs Pizza"
    date = "2019-05-04"
    venue = "Debonairs Pizza<br />Muindi Mbingu Street, CBD, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q4-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q4-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q4.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Five <span aria-label='with'>&times;</span> Esports Arena"
    date = "2019-06-08"
    venue = "K1 Klub House<br />Ojijo Road, Parklands, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q5-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q5-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q5.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

%}

{% include archive-entry-s2-s3.html

    title = "Qualifier Six <span aria-label='with'>&times;</span> Esports Arena"
    date = "2019-07-06"
    venue = "K1 Klub House<br />Ojijo Road, Parklands, Nairobi"
    position = "top"

    premier_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q6-premier.pdf"
    challenger_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-q6-challenger.pdf"
    rankings = "/assets/docs/circuit/tekken/sn-3/s3-ranking-q6.pdf"

    pool_a_list = ""
    pool_b_list = ""
    pool_c_list = ""
    pool_d_list = ""
    top_8_list = ""

%}

{% include archive-entry-s2-s3.html

    title = "Finals <span aria-label='with'>&times;</span> <span aria-label='Pro Series Gaming'>PSG</span> <span aria-label='and'>&times;</span> <span aria-label='Whats Good Studios'>WGS</span>"
    date = "2019-08-03"
    venue = "The Junction Mall<br />Ngong Road, Maziwa, Nairobi"
    position = "top"

    finals_bracket = "/assets/docs/circuit/tekken/sn-3/s3-results-finals.pdf"

    finals_list = "PLrN_8NrzlZ_pIxDvGNU6U0_ctvRNygqlF"

%}

{% include archive-paginator.html %}