---
layout: default
---
<h2 class="page-title uppercase">
    Author Profile</h2>
<div class="author-bio col-12">
    <img src="/{% if page.img %}{{ page.img }}{% else %}assets/img/authors/{{ page.alias }}.{% if page.imgExt %}{{ page.imgExt }}{% else %}jpg{% endif %}{% endif %}" alt="{% if page.name == "TEKKEN 254" %}{{ page.name }} logo{% else %}Close-up of {{ page.name }}{% endif %}" />
    <div class="author-desc">
        <p class="author-name font-header fs-h3 site-red uppercase">{{ page.name }}</p>
        {{ content }}
    </div>
</div>
<br />
{% assign counter = 0 %}
{% assign this_author = page.alias %}
{% for post in site.posts %}
    {% for author in post.author %}
        {% if author == this_author %}
            {% assign counter = counter | plus: 1 %}
<h3>All posts by {{ page.name }}</h3>
        {% endif %}
    {% endfor %}
    {% if counter == 1 %}
        {% break %}
    {% endif %}
{% endfor %}
{% for post in site.posts %}
    {% for author in post.author %}
        {% if author == this_author %}
{% include list-story.html %}
        {% endif %}
    {% endfor %}
{% endfor %}