---
layout: default
---
<h2 class="page-title uppercase">All posts in "{{ page.title }}"</h2>
{% assign this_cat = page.title %}
<ul class="guides-tabs nav nav-pills" id="news-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/news">All posts</a>
    </li>
    {% assign sorted_cats = site.categories | sort %}
    {% for category in sorted_cats %}
    {% assign current_cat = category | first %}
    {% if current_cat == this_cat %}
    <li class="nav-item">
        <a class="nav-link active" href="/news/categories/{{ category | first | slugify }}">{{ category | first }}</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/news/categories/{{ category | first | slugify }}">{{ category | first }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% assign paginator = page.paginator %}
{% for post in paginator.posts %}
    {% include list-story.html %}
{% endfor %}
{% include news-paginator.html type="category" %}